body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.rounded-block {
    background-color: #dadada;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.rounded-block-white {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: auto;
}
.rounded-block-flex {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.rounded-block-flex-vertical {
    background-color: #FFFFFF;
    flex-direction: column;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: auto;
}

.card {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.card-publication {
    background-color: #FFFFFF;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}
.rounded-block h2 {
    text-align: center;
    color: #333;
}

ul {
    padding: 0;
    margin: 10px 0 0 0;
}

ul li {
    list-style: none;
    margin-bottom: 5px;
}


header {
    background-color: #dadada;
    padding: 10px;
    text-align: center;
}

nav {
    background-color: #333;
    color: white;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
}

main {
    padding: 20px;
}

footer {
    background-color: #dadada;
    padding: 10px;
    text-align: center;
}
table {
    
    left: 50%;
    width: 100%;
    border-collapse: collapse;
}

td, th {
    border: 0; /* Невидимые рамки */
    padding: 8px;
    text-align: left;
}




/* Стили для блока поиска */
.search-container {
    display: flex;
    margin-top: 20px;
    margin-left: 50px;
    margin-right: 50px;
    gap: 15px;
}

.search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.search-button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: 1px solid #4CAF50;
    border-radius: 4px;
    cursor: pointer;
}



.employee-photo img {
    width: 100px; /* задайте нужную ширину для фото */
    border: 2px solid black; /* чёткая рамка шириной 2 пикселя, цвет черный */
    border-radius: 50%; /* чтобы сделать рамку круглой */
}


.employee-info {
    margin-left: 20px; /* отступ между фото и информацией */
}


/* Общие стили для кнопок */
.styled-button, .styled-link-button {
  display: inline-block;
  padding: 10px 20px;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

/* Стили для первой кнопки */
.styled-button {
  background-color: #3498db;
  color: #fff;
}

.styled-button:hover {
  background-color: #2980b9;
}

/* Стили для кнопки-ссылки */
.styled-link-button {
  background-color: #2ecc71;
  color: #fff;
}

.styled-link-button:hover {
  background-color: #27ae60;
}
